<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvGC5Gs_HwLukQW1HP910ICmGt44BtrgI</string>
	<key>GCM_SENDER_ID</key>
	<string>418666315600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getifyhr.getifyjobs.getifyjobs</string>
	<key>PROJECT_ID</key>
	<string>getifyjobscandidate</string>
	<key>STORAGE_BUCKET</key>
	<string>getifyjobscandidate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418666315600:ios:f421689e17b59b61477655</string>
</dict>
</plist>